<%- include("partials/header") -%>

<h1>Home</h1>

<p><%= homeStarterContent %></p>

<% posts.forEach(post => { %>
<div class="post">
    <h1><%= post.title %></h1>
    <p id="postBody">
        <%= post.content.substring(0, 120) + " ... " %>
        <a href="/posts/<%= post._id %>">Read More</a>
    </p>
</div>
<% }) %>

<%- include("partials/footer") -%>